# SPDX-FileCopyrightText: Copyright 2025 Siemens
#
# SPDX-License-Identifier: Apache-2.0

name: lib
on:
  workflow_dispatch:
  push:
#    branches:
#      - main
jobs:
  build_static_lib:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libcmocka-dev meson ninja-build build-essential libssl-dev cmake pkg-config git llvm
          cargo install armerge
      - name: Checkout gta-api-core
        uses: actions/checkout@v4
        with:
          repository: 'generic-trust-anchor-api/gta-api-core'
          ref: 'main'
      - name: Build and install gta-api-core
        run: |
          meson setup build
          sudo ninja -C build install
      - name: Checkout gta-api-sw-provider
        uses: actions/checkout@v4
      - name: Build gta-api-sw-provider
        run: |
          meson setup build
          sudo ninja -C build
      - name: Generate merged static lib
        run: |
          armerge --keep-symbols 'gta_sw_provider_init' --output build/libgta_sw_provider_merged.a build/src/libgta_sw_provider.a build/subprojects/openssl-3.0.8/libcrypto.a
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libgta_sw_provider_merged.a
          path: build/libgta_sw_provider_merged.a

